/* poppins-regular - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/poppins-v15-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-500 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/poppins-v15-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
    url('fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/poppins-v15-latin-500.svg#Poppins') format('svg');
    /* Legacy iOS */
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bg-image {
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

a img {
    height: 2rem;
    width: 2rem;
}

body {
    overflow-x: hidden;
    font-size: 1.3rem;
    color: rgba(24, 24, 24, 0.87);
    background-image: radial-gradient( #080608, #946085);
}

.fill {
    background-color: #383736;
    position: relative;
    display: block;
    min-width: fit-content;
    min-height: fit-content;
    margin: 10px 7px;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #c7c7c7;
    border: 2px #7e7e7ec2 solid;
    border-radius: .95em;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}

@media screen and (max-width: 700px) {
    .bg-image {
        left: -155%;
        min-width: 1920px;
    }
    .info p ul {
        font-size: 0.9rem;
        display: grid;
    }
    .info {
        display: inline;
    }
    .info li {
        text-align: left;
    }
    .opacity {
        margin: auto;
    }
    .fill {
        font-size: .95rem;
    }
    .navbar {
        float: none;
    }
    .navbar {
        float: none;
    }
    .fill {
        min-width: fit-content;
        min-height: fit-content;
        padding: 5px;
        font-size: .80rem;
    }
    footer {
        position: relative;
    }
    footer .container {
        width: 95%;
        margin: auto;
    }
    .footertext p {
        margin: auto;
        margin-bottom: 10px;
        width: 80%;
    }
    .brandicons {
        margin: auto;
        height: 100%;
        width: 5vh;
    }
    .dropdown-menu {
        margin-left: -15px;
        background: rgba(255, 255, 255, 0.096);
    }
    .dropdown-item {
        margin: auto;
        text-align: center;
        width: 8rem;
    }
}


.navbar {
    text-align: center;
    float: right;
}

.dropdown-item {
    text-align: center;
    width: 7rem;
}

.dropdown-menu {
    background: rgba(255, 255, 255, 0.096);
    padding: .75rem;
}

.brandicons {
    margin: auto;
    height: 100%;
    width: 5vh;
}

.active {
    background-color: rgba(255, 255, 255, 0.103);
}

.fill:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

img:hover {
    color: whitesmoke;
}

img::before {
    content: "";
    position: absolute;
    background: #eba267c9;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    -webkit-transition: top 0.2s ease-in;
}

footer .container+.container {
    border: solid 1px whitesmoke;
    border-radius: .5rem;
    max-width: min-content;
}

footer a {
    width: 4rem;
    height: 3rem;
    justify-content: center;
}

footer p {
    background-color: rgba(255, 255, 255, 0.137);
    margin: auto;
    margin-bottom: 15px;
    width: 24ch;
    border-radius: 15px;
}

img:hover::before {
    top: 0;
}

.fill:hover {
    color: whitesmoke;
}

.fill:before {
    content: "";
    position: absolute;
    background: #ffffff4d;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    -webkit-transition: top 0.2s ease-in;
}

.fill:hover:before {
    top: 0;
}

.opacity {
    min-height: fit-content;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.198);
    background-color: rgba(168, 168, 168, 0.657);
    border-radius: 10px;
    margin-top: 1rem;
}

.opacity h1,
h3 {
    padding: 10px;
}

.text-typing {
    padding: 20px;
    padding-right: 16ch;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    width: 20rem;
}

.text-typing h4 {
    font-weight: bold;
    margin: 0px;
    letter-spacing: 1.5px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(60), blink .75s infinite;
}

.navbar a {
    text-align: center;
}

#cloud-left {
    filter: drop-shadow( 0px 5px 1px rgba(0, 0, 0, 0.486));
}

#clouds-right {
    filter: drop-shadow( 0px 5px 1px rgba(0, 0, 0, 0.966));
}

#cloud-left-middle-2 {
    animation: 40s slight-move-left alternate infinite;
    stroke: black;
    stroke-width: 4px;
    stroke-opacity: 20%;
    fill-opacity: 90%;
    filter: blur(4px);
}

li img {
    max-width: 3rem;
}

#mountain-far {
    filter: blur(4px);
}

#trees {
    filter: blur(9px);
}

#sky {
    filter: blur(1px);
}

#mountains_close {
    filter: blur(2px);
}

#cloud-left-center {
    animation: 80s slight-move-right alternate infinite;
    stroke: black;
    stroke-width: 4px;
    stroke-opacity: 20%;
    fill-opacity: 90%;
    filter: blur(1px);
}

#cloud-left-top {
    animation: 40s slight-move-left alternate infinite;
    stroke-width: 4px;
    stroke-opacity: 20%;
    fill-opacity: 90%;
    filter: blur(1px);
}

#cloud-left-middle-1 {
    animation: 60s slight-move-right alternate infinite;
    stroke: black;
    stroke-width: 4px;
    stroke-opacity: 20%;
    filter: blur(2px);
}

#cloud-right-middle-2 {
    animation: 40s slight-move-left alternate infinite;
    stroke: black;
    stroke-width: 4px;
    stroke-opacity: 20%;
    filter: blur(2px);
}

h4 {
    text-decoration: underline;
}

#cloud-right-top {
    animation: 40s slight-move-right alternate infinite;
    stroke: black;
    stroke-width: 4px;
    stroke-opacity: 20%;
    filter: blur(5px);
}

#cloud-right-middle-1 {
    animation: 90s slight-move-right alternate infinite;
    stroke: black;
    stroke-width: 4px;
    stroke-opacity: 20%;
    filter: blur(1px);
}

@keyframes slight-move-right {
    0% {
        transform: translateX(0%);
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    49%,
    55% {
        transform: translateX(5%);
        -moz-transform: translateX(5%);
        -webkit-transform: translateX(5%);
    }
    70%,
    74% {
        transform: translateX(3%);
        -moz-transform: translateX(3%);
        -webkit-transform: translateX(3%);
    }
    100% {
        transform: translateX(0%);
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

@keyframes slight-move-left {
    0% {
        transform: translateX(0%);
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    49%,
    55% {
        transform: translateX(-5%);
        -moz-transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
    }
    70%,
    74% {
        transform: translateX(-3%);
        -moz-transform: translateX(-3%);
        -webkit-transform: translateX(-3%);
    }
    100% {
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes typing {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

@keyframes blink {
    0%,
    100% {
        border-right: 4px solid transparent;
    }
    50% {
        border-right: 4px solid rgb(10, 10, 10);
    }
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show:hover .dropdown-menu {
    /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
    max-height: 30rem;
    opacity: 1;
}

.container2 {
    background: rgb(221, 221, 221);
}