@font-face {
    font-family: font-awesome;
    src: url(fontawesome-free-5.15.3-desktop/fontawesome-free-5.15.3-desktop/otfs/Font\ Awesome\ 5\ Brands-Regular-400.otf);
}

body {
    font-size: 1.3em;
    font-family: font-awesome;
    color: rgba(255, 255, 255, 0.87);
}

.fill {
    background-color: #383736;
    position: relative;
    display: block;
    height: 45px;
    width: fit-content;
    margin: 10px 7px;
    padding: .7em;
    font-size: 15px;
    letter-spacing: 1px;
    color: #c7c7c7;
    border: 2px #7e7e7ec2 solid;
    border-radius: .95em;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}

.active {
    background-color: rgba(255, 255, 255, 0.103);
}

.fill:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

img:hover {
    color: whitesmoke;
}

img::before {
    content: "";
    position: absolute;
    background: #eba267c9;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    -webkit-transition: top 0.2s ease-in;
}

footer .container+.container {
    border: solid 1px whitesmoke;
    border-radius: .5rem;
    max-width: min-content;
}

footer a {
    width: 5em;
}

img:hover::before {
    top: 0;
}

.fill:hover {
    color: whitesmoke;
}

.fill:before {
    content: "";
    position: absolute;
    background: #ffffff4d;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    -webkit-transition: top 0.2s ease-in;
}

.fill:hover:before {
    top: 0;
}

.text-typing {
    padding: 20px;
    padding-right: 12ch;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    width: 20rem;
}

.text-typing h4 {
    font-weight: bold;
    margin: 0px;
    letter-spacing: 1.5px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 10s steps(60), blink .75s infinite;
}

.navbar a {
    text-align: center;
}

@keyframes typing {
    0% {
        width: 0%
    }
    15% {
        width: 100%
    }
    24% {
        width: 100%;
    }
    27% {
        width: 0%;
    }
    100% {
        width: 100%
    }
}

@keyframes blink {
    0%,
    100% {
        border-right: 4px solid transparent;
    }
    50% {
        border-right: 4px solid rgb(255, 255, 255);
    }
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show:hover .dropdown-menu {
    /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
    max-height: 30rem;
    opacity: 1;
}

.container2 {
    background: rgb(221, 221, 221);
}